<main class="container">
  <div id="display-imgs">
            <div class="marquee">
                <span>
                  
                <img src="/assets/001.jpg">
                <img src="/assets/002.jpg">
                <img src="/assets/003.jpg">
                <img src="/assets/004.jpg">
                <img src="/assets/005.jpg">
                <img src="/assets/006.jpg">
                <img src="/assets/001.jpg">
                <img src="/assets/002.jpg">
                <img src="/assets/003.jpg">
              </span>
                </div>
          </div>
          <div class="row">
          <div class="col-3"><span id="sign-up-section">
              {{#if loggedIn}}

              <h2 class="page-title-login">
              You are currently logged into the <a href="/cookbook" class="login-cb-name"> {{{ loggedInUser.dataValues.username }}} </a>cookbook! <br>
                <i class="fa-regular fa-heart"></i>
                </h2>
              

              {{else}}
              <h2 class="page-title">Sign up</h2>
              or <a href="/login" class="login-link">login</a>
              <br>
              <br>
              <form class="form signup-form">
                <div class="form-group">
                  <label for="username-signup">Name your cookbook:</label>
                  <input class="form-input" type="text" id="username-signup" />
                </div>
                <div class="form-group">
                  <label for="email-signup">Email:</label>
                  <input class="form-input" type="text" id="email-signup" />
                </div>
                <div class="form-group">
                  <label for="password-signup">Password:</label>
                  <input class="form-input" type="password" id="password-signup" />
                </div>
                <div class="form-group">
                  <button id class="btn btn-block join-btn" type="submit">Join</button>
                  
                </div>
              </form>
              <script src="./js/frontPageSignUp.js"></script>
              {{/if}}
            </div>
        </div>
        </main>
