<div class="row regular-font">

    <div class="col-2"></div>
  <div class="col-md-4 col-sm-12 login-card"><br><br>
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label><br>
        <input class="form-input-small" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label><br>
        <input class="form-input-small" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn login-form-btn" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-4 col-sm-12 login-card"><br><br>
    <h2 class="page-title">Sign up</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Cookbook name:</label><br>
        <input class="form-input-small" type="text" id="username-signup" />
  
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label><br>
        <input class="form-input-small" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label><br>
        <input class="form-input-small" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn signup-form-btn" type="submit">sign up</button>
      </div>
    </form>
  </div>
  <div class="col-2"></div>
</div>
</div>
<script src="./js/login.js"></script>