<div class="col-12">
 
    <div class="col-md">
      <div class="row recipe-card">
{{#each recipes}} 
  <h2 class="d-flex justify-content-center">{{> recipe-details}}</h2>
{{/each}}

</div>
</div>
</div>
<div class="2"></div></div>
<div class="col-md" style="text-align:center;">
<a class="btn btn-md add-recipe-btn regular-font" role="button" href="/add-recipe">
      Add a recipe!
      </a>
</div>
</div>
</div>

